/************ variables start ************/
:root {
  --main-bg-color: #eeeeee;
  --border-color: #020202;
  --white: #ffffff;
  --font-size-l: 2.0rem;
  --font-size-ml: 1.75rem;
  --font-size-m: 1.5rem;
  --font-size-sm: 1.25rem;
  --font-size-s: 1.0rem;
  --font-weight-m: 600;
  --checkbox-size: 16px;
}
/************ variables end ************/

/************ reset start ************/
* {
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/************ reset end ************/
/************ common class start ************/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex.start { justify-content: start; }
.flex.end { justify-content: end; }
.flex.column { flex-direction: column; }
.flex.between { justify-content: space-between; }
.flex.align_start { align-items: start; }
.w30p { width: 30%; }
.w70p { width: 70%; }
.w100p { width: 100%; }
.h100p { height: 100%; }
.pr10 { padding-right: 10px; }
.pr20 { padding-right: 20px; }
.pr30 { padding-right: 30px; }
.pr40 { padding-right: 40px; }
/************ common class end ************/
/************ app start ************/
html, body {
  width: 100%;
  height: 100%;
  font-size: var(--font-size-s);
}

body {
  background-color: var(--main-bg-color);
}

h3 {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-m);
  margin-bottom: 15px;
}

input[type=checkbox] {
  width: var(--checkbox-size);
  height: var(--checkbox-size);
}

#lbb_app {
  width: 100%;
  height: 100%;
  padding: 5vh 3vw;
}
#region_layout {
  display: flex;
  flex-direction: column;
}
#region_select_container {
  border: 2px solid var(--border-color);
  height: calc(100% - 32px);
}
.region_select_body {
  height: calc(100% - 35px);
  overflow-y: auto;
}
#region_select_container .region_select_header {
  font-weight: var(--font-weight-m);
}
#region_select_container .region_select_header,
#region_select_container .region_select_body_item {
  background-color: var(--white);
  display: flex;
  width: 100%;
  height: 35px;
  justify-content: center;
  align-items: center;
}
#region_select_container .region_select_header>div,
#region_select_container .region_select_body_item>div {
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}
#region_select_container .region_select_header>div:last-child,
#region_select_container .region_select_body_item>div:last-child {
  border-right: none;
}
.display_option_item { width: 100%; margin-bottom: 15px; } 
.display_option_item p,
.display_option_item select { display: inline-block; min-width: 60px; font-size: var(--font-size-sm); } 
#button_container button {
  display: block;
  width: 100%;
  font-size: var(--font-size-sm);
  margin-bottom: 5px;
}
#button_container button:last-child {
  margin-bottom: 0px;
}
/************ app end ************/
